# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
env/
venv/

# Environment variables
.env

# Airflow logs
logs/
*.log

# Docker-related files
docker-compose.override.yml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE/editor files
.vscode/
.idea/

# macOS system files
.DS_Store

# Python packaging
*.egg-info/
dist/
build/

# AWS credentials (if copied accidentally)
.aws/

# GitHub Actions artifacts
.github/workflows/*.log